$themeColor: #c73e3a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;

  img.fixed-image {
    min-height: 100vh;
    position: fixed; //位置:釘選
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
  }

  //section.logo 跟 nav 並排
  header {
    background-color: #fffffb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // 釘選
    position: sticky;
    top: 0;
    z-index: 10;
    // 陰影
    box-shadow: 0 10px 6px -6px #f0f0ed;

    section.logo {
      flex: 2 1 400px;
      // border: 2px solid red; //測試
      display: flex;
      align-items: center;

      h1 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #554236;
      }

      img {
        width: 6vw;
        height: 6vw;
      }
    }

    nav {
      flex: 5 1 500px;
      // border: 2px solid green; //測試
      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        li {
          a {
            color: #554236;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 600;
            transition: all 0.15s ease;
            padding-bottom: 0.25rem;
            &:hover {
              color: $themeColor;
              border-bottom: 3px solid $themeColor;
            }
          }
        }
      }
    }
  }

  main {
    section.background-img {
      //背景圖片
      min-height: 70vh;
      background-image: url("../images/人物2.jpg");
      background-size: cover;
      background-position: center;
      transition: all 0.75s ease;
      position: relative; //絕對路徑
      z-index: 0; //stacking context

      display: flex;
      justify-content: center; //分配空間
      align-items: center; //指定物件 對齊方向

      div.filter {
        background-color: rgba(82, 67, 61, 0.5);
        width: 100%;
        min-height: 70vh;
        position: absolute; //相對路徑
        top: 0;
        left: 0;
        z-index: -1;
      }

      h3 {
        color: #fffffb;
        font-size: 2rem;
        text-align: center;
        user-select: none; //無法選取文字
      }
    }

    //遊玩主題
    section.info-circles {
      background-color: #fffffb;
      padding: 1.5rem 1rem;

      h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #554236;
      }

      div.circles {
        // border: 3px solid black; //測試
        display: flex;
        flex-wrap: wrap; //自動換行
        justify-content: center; //四圖 置中

        div.circle {
          padding: 1rem;
          // border: 3px solid red; //測試
          flex: 0 1 250px;
          display: flex;
          flex-direction: column; //物件直向 擺放
          align-items: center; //大框架方向

          p {
            font-size: 0.9rem;
            padding-top: 0.1rem;
            color: #554236;
          }

          img {
            width: 80%;
            border-radius: 50%; //圓角
            transition: all 0.1s ease-in;
            padding: 0.5rem;
            &:hover {
              //滑過去
              border: 8px solid $themeColor;
            }
          }
        }
      }
    }

    //底圖
    section.empty-container {
      min-height: 70vh;
      background-color: rgba(82, 67, 61, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 2rem;
        color: #fffffb;
        user-select: none; //無法選取文字
      }
    }

    // 地圖
    section.google-map {
      background-color: #fffffb;
      padding: 2rem 1rem;
      text-align: center;

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #554236;
      }

      p {
        font-size: 0.9rem;
        margin: 1rem;
        line-height: 1.3rem;
        letter-spacing: 1px;
        color: #554236;
      }

      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }

  footer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    color: #fffffb;
    background-color: rgba(82, 67, 61, 0.5);

    section.logo {
      img {
        width: 10vw;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    section.link {
      margin-top: 1rem;
      a {
        img {
          width: 5vh;
          margin: 0.5rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    header {
      section.logo {
        flex-direction: column;
        img {
          width: 30vw;
          height: 30vw;
        }
      }
      nav {
        ul {
          flex-direction: column;
          li {
            padding: 0.5rem 0.25rem;
          }
        }
      }
    }
  }
}

// 側邊拉桿設定 Scrollbar
/* width 
因為 Scrollbar 並未有統一的格式，因此須特別針對不同瀏覽器 做指令的設定*/
::-webkit-scrollbar {
  //寬度
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffffb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e7e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $themeColor;
}
